body {
    margin: 20px;
    text-align: center;
    background-color: #ffffff;
}

.logo-img {
    width: 200px; 
}

.home-button:hover {
    background:#D49AD5;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #E7DCE6;
    font-size: 16px;
    text-align: center;
}

textarea {
    height: 80px;
    resize: none;
}

button {
    width: 100%;
    padding: 12px;
    background: #E0AEE3;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: #D49AD5;
}

/* Event Details Page */
h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    color: gray;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}

/* Attendees Section */
.attendees {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.profile-picture {
    width: 80px;
    height: 80px;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 10px;
}

/* Comments Section */
.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.comment {
    display: flex;
    align-items: center;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
}

.comment .profile-picture {
    margin-right: 10px;
}

/* Edit Button */
.edit-button {
    display: block;
    width: 200px;
    padding: 15px;
    margin: 20px auto;
    background: #E0AEE3;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

.edit-button:hover {
    background: #D49AD5;
}

.danger {
    color: red;
}

.groups-container {
    display: flex;
    flex-direction: column;
    align-content: center;

}

.group-container {
    border: 1px solid black;
    border-radius: 30px;
    margin-bottom: 10px;
    padding: 10px;
    width: auto;
}

.group_name {
    font-size: 20px;
    font-weight: bold;
}

.member_list {
    margin-right: 10px;
}