{% extends "base.html" %}

{% block content %}
    <a href="{{ url_for('home') }}">Back</a>
    <h1>Create a group here</h1>
    <form action="create_group" method="POST">
        <div class="group_name">
            <label for="group_name">Group name:</label>
            <input type="text" id="group_name" name="group_name" required>
        </div>
        <div class="members">
            <label style="font-size: 20px;" for="members">Members:</label>
            {% for member in members %}
                <div class="member_select">
                    <input name="username" type="checkbox" value="{{member.username}}">
                    <label class="member_name" for="{{member.username}}">{{member.username}}</label>
                <br>
                </div>
            {% endfor %}
        </div>
        <input class="group_create" type="submit" value="Create Group" class="btn">
    </form>
{% endblock %}
