{% extends "base.html" %}

{% block content %}
    <h1>Your Groups</h1>
    <a href="{{ url_for('home') }}">Back</a>
    <div class='search-bar'>
        <form id="form"> 
            <input type="search" id="query" name="q" placeholder="Search your groups...">
            <button>Search</button>
        </form>
        
    </div>
    <div class='groups-container'>
    {% for group in groups %}
        <div class='group-container' {% if group.owner = current_user.username %} id='group_clickable' onclick="window.location='group/{{group.group_name}}';" {% endif %}>
            <div class="group_name">{{ group['group_name'] }}</div>
            <div><b>Owner:</b> {{group.owner}}</div>
            <span><b>Members:</b> </span>
            {% for member in group['members'] %}
                <span class='member_name'>{{member}}</span>
            {% endfor %}
            <br>
        </div>
    {% endfor %}
    </div>
{% endblock %}