{% extends "base.html" %}

{% block content %}
    <a href="{{ url_for('home') }}" class="home-button">Home</a>

    {% if current_user.username != event.creator %}
        <h2>You're invited to {{event.creator}}'s event:</h2>
    {% endif %}
    
    <h1>{{ event.event_name }}</h1>
    <h3>{{ event.event_date }}</h3>

    <p>{{ event.description }}</p>

    <h2>Attendees</h2>
    <div class="attendees">
        {% for attendee in event.attending[:4] %}
            <div>
                <div class="profile-picture">Profile Picture</div>
                <p>{{ attendee }}</p>
            </div>
        {% endfor %}
        {% if event.attending|length > 4 %}
            <span>+{{ event.attending|length - 4 }} more</span>
        {% endif %}
    </div>

    <h2>{{ comments|length }} Comments</h2>
    <div class="comments">
        {% for comment in comments %}
            <div class="comment">
                <div class="profile-picture">Profile Picture</div>
                <p>{{ comment.text }}</p>
            </div>
        {% endfor %}
    </div>

    {% if current_user.username == event.creator %}
        <form action="{{ url_for('edit_event', event_id=event._id) }}" method="get">
            <button type="submit" class="edit-button">Edit</button>
        </form>
    {% else %}
        <form action="{{ url_for('rsvp_event', event_id=event._id) }}" method="post">
            <button type="submit" class="edit-button">RSVP</button>
        </form>
    {% endif %}

{% endblock %}